.factoryInteractions button {
  margin:5px;
}

.factoryInteractions #in {
    display: inline-block;
    vertical-align:top;
    margin:10px;
    width:300px;
  }

.factoryInteractions a {
  color:aqua;
}

.factoryInteractions #description {
  width:200px;
}

.factoryInteractions #nameField {
  margin-bottom: 20px;
}